In [76]:
import os

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Convolution2D
from tensorflow.keras.layers import MaxPooling2D
from tensorflow.keras.layers import BatchNormalization
from tensorflow.keras.layers import Dropout
from tensorflow.keras.layers import Dense
from tensorflow.keras.layers import Flatten

In [61]:
Image_Width=128
Image_Height=128
Image_Size=(Image_Width,Image_Height)
Image_Channels=3

In [62]:
files = os.listdir("dogs-vs-cats/train/")

In [63]:
categories = []
for file_name in files:
    file_category = file_name.split('.')[0]
    if file_category == "cat":
        categories.append("cat")
    else:
        categories.append("dog")

In [64]:
df = pd.DataFrame({
    "filename": files,
    "category": categories
})

In [65]:
df.shape

(25000, 2)

In [66]:
df.head(5)

       filename category
0  dog.3004.jpg      dog
1  cat.9175.jpg      cat
2  cat.7052.jpg      cat
3  dog.9368.jpg      dog
4  dog.3408.jpg      dog

In [67]:
from sklearn.model_selection import train_test_split
df_train, df_validation = train_test_split(df,test_size=0.2)

In [68]:
df_train.shape

(20000, 2)

In [69]:
df_validation.shape

(5000, 2)

In [70]:
df_train.head(5)

            filename category
22762   cat.6252.jpg      cat
20172   cat.8443.jpg      cat
24815   cat.2603.jpg      cat
18231   dog.4408.jpg      dog
10847  dog.12215.jpg      dog

In [71]:
df_validation.head(5)

            filename category
11333   dog.9691.jpg      dog
11743   dog.5129.jpg      dog
9178    dog.7775.jpg      dog
20507   dog.1409.jpg      dog
13262  dog.10399.jpg      dog

In [72]:
total_train = df_train.shape[0]
total_validate = df_train.shape[0]
batch_size = 15

In [74]:
from tensorflow.keras.preprocessing.image import ImageDataGenerator
train_datagen = ImageDataGenerator(rotation_range=15,
                                rescale=1./255,
                                shear_range=0.1,
                                zoom_range=0.2,
                                horizontal_flip=True,
                                width_shift_range=0.1,
                                height_shift_range=0.1
                                )
train_generator = train_datagen.flow_from_dataframe(df_train,
                                                 "./dogs-vs-cats/train/",x_col="filename",y_col="category",
                                                 target_size=(Image_Height,Image_Width),
                                                 class_mode="categorical",
                                                 batch_size=batch_size)
validation_datagen = ImageDataGenerator(rotation_range=15,
                                rescale=1./255,
                                shear_range=0.1,
                                zoom_range=0.2,
                                horizontal_flip=True,
                                width_shift_range=0.1,
                                height_shift_range=0.1
                                )
validation_generator = validation_datagen.flow_from_dataframe(df_validation,
                                                 "./dogs-vs-cats/train/",x_col="filename",y_col="category",
                                                 target_size=(Image_Height,Image_Width),
                                                 class_mode="categorical",
                                                 batch_size=batch_size)

Found 20000 validated image filenames belonging to 2 classes.
Found 5000 validated image filenames belonging to 2 classes.

In [77]:
model = Sequential()

model.add(Convolution2D(32,(3,3),input_shape=(Image_Height,Image_Width,Image_Size),activation='relu'))
model.add(BatchNormalization())
model.add(MaxPooling2D(pool_size=(2,2)))
model.add(Dropout(0.25))

model.add(Convolution2D(64,(3,3),input_shape=(Image_Height,Image_Width,Image_Size),activation='relu'))
model.add(BatchNormalization())
model.add(MaxPooling2D(pool_size=(2,2)))
model.add(Dropout(0.25))

model.add(Convolution2D(64,(3,3),input_shape=(Image_Height,Image_Width,Image_Size),activation='relu'))
model.add(BatchNormalization())
model.add(MaxPooling2D(pool_size=(2,2)))
model.add(Dropout(0.25))

model.add(Flatten())

model.add(Dense(512, activation='relu'))
model.add(BatchNormalization())
model.add(Dropout(0.5))

model.add(Dense(2, activation='softmax'))

In [78]:
model.summary()

Model: "sequential_4"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
conv2d_6 (Conv2D)            (None, 62, 62, 32)        896
_________________________________________________________________
batch_normalization (BatchNo (None, 62, 62, 32)        128
_________________________________________________________________
max_pooling2d_5 (MaxPooling2 (None, 31, 31, 32)        0
_________________________________________________________________
dropout_6 (Dropout)          (None, 31, 31, 32)        0
_________________________________________________________________
conv2d_7 (Conv2D)            (None, 29, 29, 64)        18496
_________________________________________________________________
batch_normalization_1 (Batch (None, 29, 29, 64)        256
_________________________________________________________________
max_pooling2d_6 (MaxPooling2 (None, 14, 14, 64)        0
_________________________________________________________________
dropout_7 (Dropout)          (None, 14, 14, 64)        0
_________________________________________________________________
flatten_3 (Flatten)          (None, 12544)             0
_________________________________________________________________
dense_6 (Dense)              (None, 512)               6423040
_________________________________________________________________
batch_normalization_2 (Batch (None, 512)               2048
_________________________________________________________________
dropout_8 (Dropout)          (None, 512)               0
_________________________________________________________________
dense_7 (Dense)              (None, 2)                 1026
=================================================================
Total params: 6,445,890
Trainable params: 6,444,674
Non-trainable params: 1,216
_________________________________________________________________

In [79]:
model.compile(loss='categorical_crossentropy',
  optimizer='rmsprop',metrics=['accuracy'])

In [80]:
model.fit_generator(train_generator,validation_data=validation_generator, epochs=10)

/home/harshil/anaconda3/envs/python/lib/python3.9/site-packages/tensorflow/python/keras/engine/training.py:1844: UserWarning: `Model.fit_generator` is deprecated and will be removed in a future version. Please use `Model.fit`, which supports generators.
  warnings.warn('`Model.fit_generator` is deprecated and '

Epoch 1/10
625/625 [==============================] - 169s 269ms/step - loss: 1.0203 - accuracy: 0.6076 - val_loss: 0.6938 - val_accuracy: 0.6132
Epoch 2/10
625/625 [==============================] - 171s 274ms/step - loss: 0.5880 - accuracy: 0.6980 - val_loss: 0.6157 - val_accuracy: 0.6906
Epoch 3/10
625/625 [==============================] - 178s 285ms/step - loss: 0.5508 - accuracy: 0.7253 - val_loss: 0.5424 - val_accuracy: 0.7332
Epoch 4/10
625/625 [==============================] - 200s 320ms/step - loss: 0.5208 - accuracy: 0.7466 - val_loss: 0.6766 - val_accuracy: 0.6374
Epoch 5/10
625/625 [==============================] - 163s 261ms/step - loss: 0.4969 - accuracy: 0.7567 - val_loss: 0.5751 - val_accuracy: 0.7242
Epoch 6/10
625/625 [==============================] - 189s 302ms/step - loss: 0.4721 - accuracy: 0.7764 - val_loss: 0.4687 - val_accuracy: 0.7756
Epoch 7/10
625/625 [==============================] - 219s 349ms/step - loss: 0.4694 - accuracy: 0.7762 - val_loss: 0.6207 - val_accuracy: 0.7094
Epoch 8/10
625/625 [==============================] - 189s 303ms/step - loss: 0.4587 - accuracy: 0.7833 - val_loss: 0.6650 - val_accuracy: 0.7104
Epoch 9/10
625/625 [==============================] - 197s 315ms/step - loss: 0.4610 - accuracy: 0.7862 - val_loss: 0.4548 - val_accuracy: 0.7918
Epoch 10/10
625/625 [==============================] - 177s 283ms/step - loss: 0.4486 - accuracy: 0.7878 - val_loss: 0.4873 - val_accuracy: 0.7700

In [81]:
model.save("model1_catsVSdogs_10epoch.h5")